*.grb
*.gbx8 

.ignore/*
~$*.pptx
~$*.xlsx

*NC Toolbox stuff
/nctoolbox/cdm/utilities/misc/*.png
*.class
*.html

# Latex intermediate output stuff
*.bbl
*.asv
*.log
*.blg
*.out
*.gz
*.aux

*.m~

hydro1.sci.gsfc.nasa.gov/
nctoolbox/demos/
